---
import "../assets/main.scss";
import Breathe from "../components/Breathe.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Breathe Deep">
  <main>
    <Breathe />
  </main>
</Layout>
