---
import BreatheBox from "./BreatheBox.astro";
import Button from "./Button.astro";
import InputSlider from "./InputSlider.astro";
---

<div class="flex flex-col items-center gap-4">
  <h1>Breathe deep...</h1>
  <BreatheBox />

  <Button buttonId="myButton">Breathe</Button>

  <div class="flex gap-16 flex-wrap md:flex-nowrap">
    <div class="flex flex-col gap-2 w-full md:basis-50%">
      <h2>Change your focus</h2>
      <InputSlider label="Inhale" sliderId="inhale" />
      <InputSlider label="Hold" sliderId="inhaleHold" />
      <InputSlider label="Exhale" sliderId="exhale" />
      <InputSlider label="Break" sliderId="exhaleHold" />
    </div>
    <div class="md:basis-50%">
      <h2>About this tool</h2>
      <p>
        This tool makes it easy to feel calm and centered by guiding you through
        simple breathing exercises. When you take slow, deep breaths, it helps
        your body relax and your mind feel clearer. Breathing like this can ease
        stress, lift your mood, and bring you back to the present moment.
        Whether you're feeling overwhelmed or just need a little boost, a few
        mindful breaths can make a big difference in how you feel, helping you
        find balance and peace in your day.
      </p>
    </div>
  </div>
</div>
