---

---

<div class="relative p-10">
  <div
    class="w-40 h-40 rounded-full border-indigo border-solid border-1 absolute top-50% left-50% translate-x--50% translate-y--50% blur-3">
  </div>
  <div id="breatheBox" class="w-20 h-20 rounded-full bg-indigo m-auto"></div>
</div>
