---
import BreatheBox from "./BreatheBox.astro";
import Button from "./Button.astro";
import InputSlider from "./InputSlider.astro";
---

<div class="flex flex-col items-center gap-4">
  <h1 class="font-800 text-14 font-serif my-8">Breathe deep...</h1>
  <BreatheBox />

  <Button buttonId="myButton">Breathe</Button>

  <div class="flex flex-col gap-2 w-300px">
    <InputSlider label="Inhale" sliderId="inhale" />
    <InputSlider label="Hold" sliderId="inhaleHold" />
    <InputSlider label="Exhale" sliderId="exhale" />
    <InputSlider label="Break" sliderId="exhaleHold" />
  </div>
</div>
