---
import Button from "./Button.astro";
---

<div>
  <h2 class="text-center mb-3">Presets</h2>
  <div class="flex flex-row gap-6">
    <Button buttonId="presetCalm" buttonLabel="Select calm preset">Calm</Button>
    <Button buttonId="presetEnergy" buttonLabel="Select energy preset">
      Energy
    </Button>
    <Button buttonId="presetSleep" buttonLabel="Select sleep preset">
      Sleep
    </Button>
  </div>
</div>
