<div class="flex flex-col gap-3 w-full">
  <h2>About this tool</h2>
  <p>
    This tool makes it easy to feel calm and centered by guiding you through
    simple breathing exercises. When you take slow, deep breaths, it helps your
    body relax and your mind feel clearer. Breathing like this can ease stress,
    lift your mood, and bring you back to the present moment. Whether you're
    feeling overwhelmed or just need a little boost, a few mindful breaths can
    make a big difference in how you feel, helping you find balance and peace in
    your day.
  </p>
</div>
